/* Media Queries */

@media screen and (max-width: 980px) {
  
    .button-right {
      float: right;
    }

      
  }


@media screen and (max-width: 768px) {
 
    .button-right {
        float: right;
    }

    .portfolio-img{    
        float: left;
        display: inline;
        margin-left: 0;
        width: 100%;
        }

    }
  
@media screen and (max-width: 640px) {
  
    .button-right {
        float: left;
    }

    .portfolio-img{
        
            float: left;
            display: inline;
            margin-left: 0;
            width: 100%;
        }
    
    input{
            float: left;
            display: inline;
            margin-left: 0;
            width: 100%;
        }
    
    p{
        float: left;
        display: inline;
        margin-left: 0;
        width: 100%;
    }
    
    }


    /* Styles from project 1 */
    h5 {
        font-family: 'Squada One', cursive;
    }
    
    .mainLogo {
        margin-left: 15px;
    }
    
    @media screen and (max-width: 768px) {
        /* For mobile phones: */
        .mainLogo {
            font-size: 1.2rem !important;
            margin: 0px !important;
        }
        nav {
            width: 70% !important;
            margin: auto !important;
        }
        #currentLoc {
            width: 100% !important;
            margin: auto !important;
        }
        .cityState {
            width: 70% !important;
        }
        #search {
            margin-left: 35px;
        }
        .card-title {
            font-size: 20px !important;
        }
    }
    
    /* iphone 5 and the other superSmalls */
    
    @media screen and (max-width: 410px) {
        .mainLogo {
            font-size: .9rem !important;
            margin: 0px !important;
        }
        nav {
            width: 70% !important;
            margin: auto !important;
        }
        .card-title {
            font-size: 16px !important;
        }
    }
    
    .imgSmall {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .imgRest {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* test test test */

    @media (max-width: 980px) {
        .heading-context-position,
        .container {
          width: 520px;
          /* removes paddding on either side */
          padding-left: 0;
          padding-right: 0;
        }
        
        .container {
          /*  unset removes the center so that it can be off center */
          align-self: unset;
          /* used to align with brand tag */
          margin-left: 100px;
        }
      
        .heading-content-position {
          width: 100%;
        }
      
        .heading-name {
          margin-left: 100px;
        }
      }
      
      @media (max-width: 768px) {
        .heading-context-position,
        .container {
          padding-left: 0;
          padding-right: 0;
        }
         
        .container {
          align-self: unset;
          margin-left: 2%;
        }
      
        .heading-name {
          margin-left: 2%;
        }
      }
      
      @media (max-width: 640px) {
        .container {
          align-self: center;
          margin: 2%;
        }
      
        .heading-name {
          margin: 0;
          width: 100%;
          text-align: center;
          padding: 20px 0;
        }
      
        .heading-menu {
          text-align: center;
          width: 100%;
          padding: 10px;
        }
      
        .heading-context-position,
        .container {
          /* removes paddding on either side */
          padding-left: 0;
          padding-right: 0;
        }
      
        .heading-content-position {
          width: 100%;
        }
        
        .portfolio-img {
          position: relative;
          width: 100%;
          height: 100%;
          padding-top: 2px;
          margin: 0;
        }
      
        .caption {
        position: absolute;
        top: 60%;
        width: 100%;
        padding: 15px 0;
        font-size: 20px;
        background-color: #4aaaa5;
        z-index: 1;
        text-align: center;
        color: #fff;
      }
      }